@using SxpEnums = ServiceXpert.Domain.Shared.Enums;
@model CreateIssueViewModel

<div class="modal fade" id="create-issue-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="create-issue-modal-label">
                    Create Issue
                </h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="create-issue-modal-form" role="form">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="create-issue-modal-name-field" class="form-label">
                                Title <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" id="create-issue-modal-name-field" name="@nameof(IssueDataObjectForCreate.Name)" required />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="create-issue-modal-description-field" class="form-label">Description</label>
                            <textarea class="form-control" id="create-issue-modal-description-field" rows="3" name="@nameof(IssueDataObjectForCreate.Description)"></textarea>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <label for="create-issue-modal-priority-field" class="form-label">Priority</label>
                            <select class="form-select" id="create-issue-modal-priority-field" name="@nameof(IssueDataObjectForCreate.IssuePriorityId)">
                                @foreach (var priority in Model.IssuePriorities)
                                {
                                    <option value="@priority.Key" selected="@(priority.Key == (int)SxpEnums.IssuePriority.Low)">
                                            @priority.Value
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" form="create-issue-modal-form">Save</button>
            </div>
        </div>
    </div>
</div>