@using ServiceXpert.Web.Extensions
@{
    ViewData["FooterYear"] = DateTime.UtcNow.Year;
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServiceXpert</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ServiceXpert.Web.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="modal-container"></div>
    <header>
        <nav class="navbar navbar-expand-lg border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-controller="Dashboard" asp-action="Index">ServiceXpert</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-lg-2">
                            <a class="nav-link @Html.IsActive("Dashboard", "Index")" aria-current="page"
                               asp-controller="Dashboard" asp-action="Index">
                                    Dashboard
                            </a>
                        </li>
                        <li class="nav-item dropdown mx-lg-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                    Issues
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" aria-current="page"
                                        asp-controller="Issue" asp-action="Index">
                                            All Issues
                                    </a>
                                </li>
                                @* <li><hr class="dropdown-divider"></li> *@
                                @* <li>
                                    <a class="dropdown-item" aria-current="page"
                                       asp-controller="Issues" asp-action="Open Issues">Open Issues</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" aria-current="page"
                                       asp-controller="Issues" asp-action="Closed Issues">Closed Issues</a>
                                </li> *@
                            </ul>
                        </li>
                        @* <li class="nav-item mx-lg-2">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li> *@
                        <li class="nav-item mx-lg-2">
                            <button class="btn btn-success" type="button" id="btn-create-issue">Create</button>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    @* <i id="themeToggleIcon" class="bi bi-sun-fill fs-4 ms-2" onclick="toggleTheme()"></i> *@
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container py-3">
            @RenderBody()
        </div>
    </main>
    <footer class="border-top text-muted py-3">
        <div class="container">
            &copy; @ViewData["FooterYear"] - ServiceXpert - Developed by Neonie Quell Ponce.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/create-issue.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
