@using ServiceXpert.Web.Extensions
@{
    ViewData["FooterYear"] = DateTime.UtcNow.Year;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServiceXpert</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ServiceXpert.Web.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <partial name="_Themes" />
    <div class="modal-container"></div>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand fw-semibold text-light" asp-controller="Dashboard" asp-action="Index">ServiceXpert</a>
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-lg-2">
                            <a class="nav-link text-light @Html.IsActive("Dashboard", "Index")" aria-current="page"
                               asp-controller="Dashboard" asp-action="Index">
                                    Dashboard
                            </a>
                        </li>
                        <li class="nav-item mx-lg-2">
                            <a class="nav-link text-light @Html.IsActive("Issues", "Index")" aria-current="page"
                               asp-controller="Issues" asp-action="Index">
                                Issues
                            </a>
                        </li>
                        <li class="nav-item mx-lg-2">
                            <button class="btn btn-success" type="button" id="btn-create-issue">Create</button>
                        </li>
                    </ul>
                    <form id="navbar-search" class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </form>
                    @* <i id="themeToggleIcon" class="bi bi-sun-fill fs-4 ms-2" onclick="toggleTheme()"></i> *@
                    <ul class="navbar-nav ms-lg-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="settings-dropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Settings
                            </a>
                            <ul class="dropdown-menu bg-body" aria-labelledby="settings-dropdown">
                                <li>
                                    <a class="dropdown-item text-body" href="/#" data-bs-toggle="modal"
                                        data-bs-target="#themes-modal">Themes</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container py-3">
            <div id="alert-container"></div>
            @RenderBody()
        </div>
    </main>
    <footer class="border-top text-muted py-3">
        <div class="container">
            &copy; @ViewData["FooterYear"] - ServiceXpert - Developed by Neonie Quell Ponce.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/issue.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
