@using ServiceXpert.Web.Extensions
@{
    var navbarBrand = "ServiceXpert";
    ViewData["FooterYear"] = DateTimeOffset.UtcNow.Year;

    var isAuthenticated = User.Identity?.IsAuthenticated ?? false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServiceXpert</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="modal-container"></div>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary border-bottom box-shadow">
            <div class="container">
                <div class="d-flex align-items-center">
                    <button class="navbar-toggler d-lg-none me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navbar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fff" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                        </svg>
                    </button>
                    <a class="navbar-brand d-none d-lg-block fw-medium text-light"
                       asp-controller="@(isAuthenticated ? "Dashboard" : "Accounts")" asp-action="Index">
                       @navbarBrand
                    </a>
                </div>
                <div class="offcanvas offcanvas-start bg-primary" tabindex="-1" id="offcanvas-navbar">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title d-lg-none fw-medium text-light" id="offcanvas-navbar-label">@navbarBrand</h5>
                        <button type="button" class="btn btn-close" data-bs-dismiss="offcanvas"></button>
                    </div>
                    @if (isAuthenticated)
                    {
                        <div class="offcanvas-body">
                            <ul class="navbar-nav w-100">
                                <li class="nav-item mx-lg-1">
                                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link @Html.IsActive("Dashboard", "Index") text-light">Dashboard</a>
                                </li>
                                <li class="nav-item mx-lg-1">
                                    <a asp-controller="Issue" asp-action="Index" class="nav-link @Html.IsActive("Issue", "Index") text-light">Issues</a>
                                </li>
                                @if (User.IsInRole(Role.Admin.ToString()))
                                {
                                    <li class="nav-item dropdown admin-dropdown">
                                        <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            Admin
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a asp-controller="User" asp-action="Index" class="dropdown-item">Users</a></li>
                                            <li><a class="dropdown-item" href="#">Roles</a></li>
                                        </ul>
                                    </li>
                                }
                                <li class="nav-item ms-lg-2 me-lg-1 mt-2 mt-lg-0">
                                    <button class="btn btn-success" type="button" id="btn-create-issue">Create</button>
                                </li>
                                <li class="nav-item mt-2 mt-lg-0 ms-lg-auto">
                                    <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline" role="button">
                                        <button type="submit" class="btn btn-link nav-link text-light">Logout</button>
                                        @Html.AntiForgeryToken()
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container py-3">
            <div id="page-alert"></div>
            @RenderBody()
        </div>
    </main>
    <footer class="border-top text-muted py-3">
        <div class="container">
            &copy; @ViewData["FooterYear"] - @navbarBrand - Developed by Neonie Quell Ponce.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/shared/site.js" asp-append-version="true"></script>
    @if (isAuthenticated)
    {
        <script type="module" src="~/js/shared/create-issue-modal.js"></script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
