@model UserPickerSearchboxViewModel
@{
    var instanceId = Guid.NewGuid();
}

<label for="input-text-@instanceId" class="form-label">@Model.Label</label>
<div class="position-relative" data-instance-id="@instanceId">
    <input type="hidden" id="input-hidden-@instanceId" name="@Model.HiddenInputName" value="@Model.UserProfile?.Id">
    <input type="text"
           id="input-text-@instanceId"
           class="form-control partial-user-picker-searchbox"
           list="datalist-@instanceId"
           value="@Model.UserProfile?.FirstNameLastName">
    <datalist id="datalist-@instanceId"></datalist>
    <div id="spinner-@instanceId" class="position-absolute top-50 end-0 translate-middle-y me-2 d-none">
        <div class="spinner-border spinner-border-sm text-secondary"></div>
    </div>
</div>