@model EditIssueViewModel
<div class="modal fade" id="edit-issue-modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <small class="text-muted mb-1">Created: @Model.Issue.CreateDateFormatted</small>
                    <h1 class="modal-title fs-5 fw-bold" id="edit-issue-modal-label">@Model.Issue.IssueKey</h1>
                    <input type="hidden" form="edit-issue-modal-form" name="@nameof(Issue.IssueKey)" value="@Model.Issue.IssueKey" />
                </div>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="edit-issue-modal-form" role="form">
                    <div class="mb-3">
                        <label for="edit-issue-modal-name-field" class="form-label">
                            Title <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" id="edit-issue-modal-name-field" name="@nameof(IssueForUpdate.Name)" value="@Model.Issue.Name" required />
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="edit-issue-modal-description-field" class="form-label">Description</label>
                            <textarea class="form-control" id="edit-issue-modal-description-field" rows="3" name="@nameof(IssueForUpdate.Description)">@Model.Issue.Description</textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="edit-issue-modal-priority-field" class="form-label">Priority</label>
                            <select class="form-select" id="edit-issue-modal-priority-field" name="@nameof(IssueForUpdate.IssuePriorityId)">
                                @foreach (var priority in Model.IssuePriorities)
                                {
                                    <option value="@priority.Key" selected="@(priority.Key == Model.Issue.IssuePriorityId)">
                                        @priority.Value
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="edit-issue-modal-status-field" class="form-label">Status</label>
                            <select class="form-select" id="edit-issue-modal-status-field" name="@nameof(IssueForUpdate.IssueStatusId)">
                                @foreach (var status in Model.IssueStatuses)
                                {
                                    <option value="@status.Key" selected="@(status.Key == Model.Issue.IssueStatusId)">
                                        @status.Value
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div>
                                <label class="form-label">Assignee</label>
                                <input type="text" value="Lorem Ipsum" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <label class="form-label">Reporter</label>
                                <input type="text" value="Lorem Ipsum" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row w-100">
                    <div class="col-6 px-0">
                        <button type="button" class="btn btn-outline-primary" id="btn-back-to-view">Back to View Only</button>
                    </div>
                    <div class="col-6 px-0 d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success ms-2" form="edit-issue-modal-form">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
