@model List<Issue>

@foreach (var issue in Model)
{
    <tr>
        @* Issue Key *@
        <th><span class="view-issue" data-key="@issue.IssueKey">@issue.IssueKey</span></th>
        @* Summary *@
        <td><span class="view-issue" data-key="@issue.IssueKey">@issue.Name</span></td>
        @* Issue Priority *@
        <td>@issue.IssuePriority!.Name</td>
        @* Issue Status *@
        <td>@issue.IssueStatus!.Name</td>
        <td></td>
        <td></td>
        <td>@issue.CreateDateFormatted</td>
    </tr>
}