@model List<Issue>

@foreach (var issue in Model)
{
    <tr>
        @* Issue Key *@
        <th><a asp-route="ViewIssueAsync" asp-route-issueKey="@issue.IssueKey" class="view-issue">@issue.IssueKey</a></th>
        @* Summary *@
        <td><a asp-route="ViewIssueAsync" asp-route-issueKey="@issue.IssueKey" class="view-issue">@issue.Name</a></td>
        @* Issue Priority *@
        <td>@issue.IssuePriority!.Name</td>
        @* Issue Status *@
        <td>@issue.IssueStatus!.Name</td>
        <td></td>
        <td></td>
        <td>@issue.CreateDateFormatted</td>
    </tr>
}