@using ServiceXpert.Web.Models.Issues
@model List<Issue>

@foreach (var issue in Model)
{
    <tr>
        @* Key *@
        <th><a asp-route="ViewIssue" asp-route-issueKey="@issue.IssueKey" class="view-issue">@issue.IssueKey</a></th>
        @* Summary *@
        <td><a asp-route="ViewIssue" asp-route-issueKey="@issue.IssueKey" class="view-issue">@issue.Name</a></td>
        @* Priority *@
        <td>@issue.IssuePriority!.Name</td>
        @* Status *@
        <td>@issue.IssueStatus!.Name</td>
        @* Assignee *@
        <td>@issue.Assignee?.FirstNameLastName</td>
        @* Reporter *@
        <td>@issue.Reporter?.FirstNameLastName</td>
        @* Created *@
        <td>@issue.CreatedDateFormatted</td>
    </tr>
}