@model List<Issue>
@foreach (var issue in Model)
{
<tr>
    @* Issue Key *@
    <th class="view-issue" scope="row" data-key="@issue.IssueKey"><span>@issue.IssueKey</span></th>
    @* Summary *@
    <td class="view-issue" data-key="@issue.IssueKey"><span>@issue.Name</span></td>
    @* Assignee *@
    <td><span>Lorem Ipsum</span></td>
    @* Reporter *@
    <td><span>Lorem Ipsum</span></td>
    @* Created *@
    <td><span>@issue.CreateDateFormatted</span></td>
    @* Issue Priority *@
    <td class="issue-priority"><span class="priority-@issue.IssuePriorityId">@issue.IssuePriority!.Name</span></td>
    @* Issue Status *@
    <td class="issue-status"><span>@issue.IssueStatus!.Name</span></td>
</tr>
}