@model IssueViewModel
@{
    ViewData["Title"] = "Issues";
}

<div class="row mt-3">
    <div class="col-12">
        <h1 class="m-0">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="nav nav-underline nav-fill border-1" id="issue-tabs" role="tablist">
            @foreach (var tab in Model.NavigationTabs)
            {
            <li class="nav-item " role="presentation">
                <button class="nav-link @(tab == Model.NavigationTabs.First() ? "active" : "")" data-bs-toggle="tab" data-tab="@tab" role="tab">
                    @tab
                </button>
            </li>
            }
        </ul>
        <div class="table-responsive">
            <table class="table table-hover" id="table-issue">
                <thead id="table-issue-header">
                    <tr>
                    @foreach (var th in Model.TableHeaders)
                    {
                        <th scope="col" class="border-0 bg-primary text-light fw-medium text-wrap">@th</th>
                    }
                    </tr>
                </thead>
                <tbody id="table-issue-body">
                    <tr id="table-issue-body-spinner">
                        <td colspan="@(Model.TableHeaders.Count)" class="text-center border-0">
                            @await Html.PartialAsync("_Spinner", "")
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="d-flex justify-content-center justify-content-lg-end mt-3 mt-lg-0" id="table-issue-pagination"></nav>
    </div>
</div>

@section Scripts {
    <script src="~/js/issue.js"></script>
}